body {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 6px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

h1 {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42p x rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

h2 {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

h3 {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

h4 {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

h5 {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}


/* Контент */
span {
    font-style: normal;
    color: rgb(0, 0, 0);
}


.kartochka_1 {
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
}

.photo_1 {
    width: 220px;
}

.svet_kajisnik {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

.table_1 {
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    padding-right: 20px;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(255, 0, 0),
            0 0 82px rgb(255, 0, 4),
            0 0 92px rgb(255, 0, 0),
            0 0 102px rgb(255, 0, 0),
            0 0 151px rgb(255, 0, 25);
}

.table_2 {
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    padding-right: 20px;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(255, 0, 0),
            0 0 82px rgb(255, 0, 4),
            0 0 92px rgb(255, 0, 0),
            0 0 102px rgb(255, 0, 0),
            0 0 151px rgb(255, 0, 25);
}

/* Верхняя навигационная панель */

.navigacionnaya_panel {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.navigacionnaya_panel>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}

.navigacionnaya_panel>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    font-weight: bolder;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 4),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 25);
}




@media (max-width: 900px) {
    .navigacionnaya_panel (flex-direction: column;
    )
}


/* .page {
    display: flex;
}

.header {
    width: 10%;
}

.section {
    width: 90%;
} */


body {
    background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/9711415/pub_6488c2a785c3654e55a1e0ad_6488c30bf205df6eb790bbf1/scale_1200');
}




